
    <article class="product">
        <div>
            <img class="image" src="{{pic}}">
            <div>
                <div class="push">
                    <button type="button" id="put-in-cart"> add to cart</button>
                    <select>
                        <option value="Quantity">Quantity</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>
        </div>
    </article>

